.main-content {
  margin-left: 260px;
  padding: 30px;
  min-height: calc(100vh - 70px);
  background-color: #f8fafc;
}


/* =========================
   📱 TÉLÉPHONE
========================= */

@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
  }

}


